<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REST API</title>
    <script src="./index.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <div id="add-todo-container">
      <h1>Todo list</h1>
      <form class="" action="/add-item" method="post">

        <label for="name">Enter todo:</label><br>
        <input type="text" name="description" value=""><br><br>
        <input type="submit" value="Submit">

      </form>
    </div>

  </body>
</html>
