<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo list</title>


    <link rel="stylesheet" href="/css/style.css">

  </head>

  <body>
    <%- include("../partials/header.ejs") %>
    <a id="add-item-link" href="/">Add an item</a>
    <h1 id="header-title"><u>Todo list</u></h1>
    <div id="todolist-container">

    </div>

  </body>
  <script src="/scripts/todolist.js" charset="utf-8"></script>
</html>
